/* Mailchimp */

.email-form {
  margin-top: 36px;
}

#mc_embed_signup_scroll {
  display: flex; flex-wrap: wrap;
}

.mc-field-group {
  flex-grow: 1;
}

.mc-field-with-button {
  display: flex;
  flex-direction: row;
}

input#mce-EMAIL {
  background: #1B1B1B;
  width: 100%;
  padding-left: 20px;
  height: 70px;
  border-radius: 9px 0 0 9px;

  font-family: 'Manrope';
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

input#mce-EMAIL::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

input#mc-embedded-subscribe {
  background: linear-gradient(288.13deg, rgba(41, 220, 229, 0.4) -84.58%, rgba(255, 160, 223, 0.4) -81.48%, rgba(255, 220, 221, 0.4) -76.6%, rgba(254, 251, 206, 0.4) -66.04%, rgba(252, 255, 248, 0.4) -36.92%, rgba(235, 246, 242, 0.4) -28.25%, rgba(1, 220, 235, 0.4) -5.86%, rgba(3, 145, 234, 0.4) -1.28%, rgba(254, 148, 208, 0.4) 1.69%, rgba(250, 250, 198, 0.4) 4.12%, rgba(250, 166, 226, 0.4) 20.5%, rgba(233, 245, 241, 0.4) 42.3%, rgba(250, 250, 242, 0.4) 76.37%, rgba(235, 246, 242, 0.4) 80.31%, rgba(154, 154, 239, 0.4) 86.75%), #FFFFFF;
  color: #000;
  padding: 0 24px;
  font-weight: 700;
  height: 70px;
  border-radius: 0 9px 9px 0;
  cursor: pointer;
}

/* Mobile */

@media (max-width: 900px) {
  .mc-field-with-button {
    flex-direction: column;
  }

  input#mce-EMAIL,
  input#mc-embedded-subscribe {
    border-radius: 9px;
  }

  input#mc-embedded-subscribe {
    margin-top: 12px;
  }
}
